.git/
.gitignore

*.pyc
*.py[cod]
.python-version
*.pyo
__pycache__/
.vscode
venv/
.venv/
uv.lock.bak
*.log
.envs/*

.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp